:root {
  font-family: Arial, sans-serif;
  color: #213547;
  background: #ffffff;
}

body {
  margin: 0;
}

.app {
  display: grid;
  min-height: 100vh;
  place-content: center;
  text-align: center;
}
